@import '~@/styles/theme';

.root {
    @include margin(137px, 0, 0, 0);
}

.title {
    @include font-title-large;
    @include font-center;
    color: $color-light;
}

.list {
    display: flex;
    position: relative;
    @include margin(70px, auto, 0, auto);
}

.listItem {
    flex: 1;
    flex-shrink: 0;
    position: relative;
    @include margin(0, 20px, 0, 0);
    @include padding(20px, 20px, 36px, 20px);
    background: $color-light;

    &:last-child {
        @include margin(0, 0, 0, 0);
    }
}

$item-title-height: 40px;
.itemTitle {
    height: $item-title-height;
    @include font-body-large;
    @include font-600;
    color: $color-primary-1;
    line-height: $item-title-height;
}

.itemContent {
    @include font-body-regular;
    @include font-400;
    font-family: 'Roboto';
    color: $color-dark;
}

// beause of css priority rules, mobile styles must put here
@import './index.mobile.scss';
