$header-height: 50px;
$cover-height: 689px;
$mobile-breakpoint: 768px;
$container-width: 1130px;


/* color */
$color-primary: #0132cc;
$color-primary-1: #0055ff;
$color-primary-2: #002be6;
$color-primary-3: #1967fa;

$color-dark: rgba(26,26,26,1);
$color-dark-4: rgba(26,26,26,0.04);
$color-dark-3: rgba(26,26,26,0.1);
$color-dark-2: rgba(26,26,26,0.24);
$color-dark-1: rgba(26,26,26,0.7);

$color-light: rgba(255,255,255,1);
$color-light-4: rgba(255,255,255,0.04);
$color-light-3: rgba(255,255,255,0.1);
$color-light-2: rgba(255,255,255,0.24);
$color-light-1: rgba(255,255,255,0.7);

/* font */
@mixin font-center {
    text-align: center;
}

@mixin font-vertical-center($n) {
    height: $n;
    line-height: $n;
}

@mixin font-700 {
    font-weight: 700;
}

@mixin font-600 {
    font-weight: 600;
}

@mixin font-400 {
    font-weight: 400;
}

@mixin font-title-large {
    font-size: 48px;
    letter-spacing: -0.5px;
    line-height: 56px;
}

@mixin font-title-medium {
    font-size: 34px;
    letter-spacing: -0.5px;
    line-height: 40px;
}

@mixin font-title-regular {
    font-size: 22px;
    letter-spacing: -0.5px;
    line-height: 26px;
}

@mixin font-title-small {
    font-size: 17px;
    letter-spacing: -0.5px;
    line-height: 20px;
}

@mixin font-body-large {
    font-size: 22px;
    letter-spacing: -0.1px;
    line-height: 32px;
}

@mixin font-body-medium {
    font-size: 17px;
    letter-spacing: -0.1px;
    line-height: 24px;
}

@mixin font-body-regular {
    font-size: 15px;
    letter-spacing: -0.1px;
    line-height: 22px;
}

@mixin font-body-small {
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 20px;
}


/* margin & padding */
$base-padding: 8px;
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

$base-margin: 8px;
@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

/* raise */
@mixin raise-1 {
    box-shadow: 0 20px 60px rgba(1, 50, 204, 0.1);
}
@mixin raise-2 {
    box-shadow: 0 20px 72px rgba(1, 50, 204, 0.15);
}

/* flex */
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
