.root {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 194px;
    height: 56px;
    background: #3732ff;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    border: 2px solid #3732ff;
    border-radius: 2px;
    cursor: pointer;
}

.root p, .root span, .root path, .root line, .root polyline {
    transition: color 300ms ease;
}

.suffix {
    margin-left: 11px;
}

.root:hover {
    background: #fff;
    border: 2px solid #0155ff;
    color: #0155ff;
}

.root:hover p, .root:hover span, .root:hover div {
    color: inherit;
}

.root:hover line, .root:hover polyline {
    stroke: #0155ff;
}

.root:hover path {
    fill: #0155ff;
}

@media (max-width: 740px) {
    .root {
        height: 42px;
    }
}