.root {
  padding-top: 90px;
}

.title {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 300;
  color: #98A4AF;
}

.appyLink {
  border-radius: 5px;
}

.content {
  display: flex;
  margin: 102px 0 98px 0;
}

.detail {
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.detail button {
  margin-top: 83px;
}

.image {
  margin-left: 45px;
  flex: 0 0 488px;
  height: 425px;
  object-fit: contain;
}

.ecosystemList {
  margin: -25px 0 0 -30px;
  display: flex;
  flex-wrap: wrap;
}

.ecosystemItem {
  margin: 25px 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7 - 30px);
  height: 90px;
  cursor: pointer;
}

.proofPartnersTitle {
  margin: 90px 0 47px 0;
}

@media (max-width: 740px) {
  .root {
    padding-top: 24px;
  }

  .title {
    font-size: 24px;
    line-height: 29px;
  }

  .content {
    margin: 24px 0;
    flex-direction: column-reverse;
  }

  .image {
    margin-left: 0;
    margin-bottom: 14px;
    flex: 0 0 277px;
    height: 277px;
  }

  .detail {
    line-height: 36px;
  }

  .detail button {
    margin: 24px auto 0 auto;
    width: 261px;
  }

  .ecosystemList {
      margin: 4px 0 0 -19px
  }

  .ecosystemItem {
    margin: 20px 0 0 19px;
    flex: 0 0 calc(50% - 20px);
    height: 97px;
  }

  .ecosystemItem img {
    width: 95px;
    height: 95px;
    object-fit: contain;
  }
}
