.root {
    margin: 120px 0 96px 0;
    color: #333333;
}

.container {
    display: flex;
    justify-content: space-between;
}

.foundation {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.socialMedia {
    margin: 24px 0 0 -16px;
    display: flex;
}

.socialMediaItem {
    position: relative;
    margin-left: 16px;
    width: 20px;
    height: 20px;
}

.socialMediaItem > div {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.socialMediaItem > a {
    display: block;
    width: 100%;
    height: 100%;
}

.socialMediaIcon {
    width: 20px;
    height: 20px;
    object-fit: center;
}

.socialMediaItem:hover .socialMediaItemImg {
    display: block;
    animation: fade-in 300ms;
}

.socialMediaItemImg {
    display: none;
    top: -260px;
    left: calc(50% - 120px);
    position: absolute;
    width: 240px;
    height: 240px;
    box-shadow: 0 10px 30px rgba(65, 32, 255, 0.11);
    border-radius: 2px;
}

.newsletter {
    margin-top: 52px;
    font-size: 24px;
    line-height: 28px;
    color: #3732ff;
}

.form {
    margin-top: 24px; 
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.links {
    display: flex;
    margin-left: -90px;
}

.linkItem {
    margin-left: 90px;
}

.linkItemTitel {
    font-size: 24px;
    line-height: 28px;
    color: #3732ff;
}

.linkItemData {
    margin-top: 17px;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}

.linkDataItemLink, .linkDataItemLink:link, .linkDataItemLink:visited, .linkDataItemLink:hover, .linkDataItemLink:active {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
}

.linkDataItemLink:hover {
    text-decoration: underline;
}


@media (max-width: 740px) {
    .root {
        margin-top: 60px;
        margin-bottom: 0;
    }

    .container {
        flex-direction: column;
    }

    .links {
        margin-top: 42px;
        flex-direction: column;
    }

    .linkItem {
        margin-bottom: 24px;
    }

    .socialMedia {
        margin-bottom: 24px;
    }
}