.header {
    z-index: 99;
    top: 0;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #ecf0f2;
    background: #ffffff;
}

.header.open + a + section {
    margin-top: calc(129px + 90.5px + 90px);
}

.container {
    display: flex;
    height: 90.5px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    width: 171px;
    height: 53px;
    object-fit: contain;
}

.menu {
    display: flex;
}
.menuItem {
    margin-left: 64px;
}

.mobileMenu, .mobileMenuContainer {
    display: none;
}

@media (max-width: 720px) {
    .header {
        z-index: 100;
    }

    .header.open + a + section {
        margin-top: 179px;
    }

    .container {
        height: 72px;
    }

    .logo {
        width: 88px;
        height: 28px;
    }

    .menu {
        display: none;
    }

    .mobileMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
    }

    .mobileMenuContainer {
        z-index: 99;
        display: none;
        padding-top: 72px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #ffffff;
    }

    .mobileMenuContainer.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}