.header {
    width: 100%;
    height: 500px;
    background-image: url('../assets/hiring.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.title {
    font-size: 60px;
    line-height: 71px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.title:first-child {
    margin-top: 146.5px;
}

.viewCurrentOpening {
    margin: 43px auto;
    padding: 18px 37px !important;
    border: 1px solid #ffffff !important;
    background: transparent !important;
    font-size: 18px !important;
    line-height: 21px !important;
}

.viewCurrentOpening:hover {
    background: #ffffff !important;
}

.jobs {
    margin-top: 88px;
    min-height: 300px;
}

:global(.angellist_jobs) {
    margin-top: 90px;
}

:global(.angellist_jobs-title-link) {
    font-size: 24px;
    line-height: 29px;
    color: #3732FF !important;
    text-decoration: none !important;
}

:global(.angellist_jobs-tags) {
    margin-top: 12px;
    font-size: 18px !important;
    line-height: 21px !important;
    color :#000000 !important;
}

:global(.angellist_jobs-job) {
    margin-bottom: 32px !important;
}

.subTitle {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
}

.concat {
    margin-top: 90px;
}

.blogBtn {
    margin: 90px auto 0 auto;
    min-width: 272px;
    height: 56px !important;
}

.getInTouch {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.getInTouch > a {
    position: relative;
    display: inline-block;
    color: #4725FF;
    text-decoration: none !important;
}

.getInTouch > a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: #4725FF;
}