.title {
    margin-top: 90px;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    font-weight: 600;
    color: #333333;
}

.list {
    margin: 90px 0 0 -24px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 24px 24px;
    flex: 0 0 220px;
    height: 134px;
    box-shadow: 0 10px 30px rgba(65, 32, 255, 0.11);
    transition: transform 200ms ease;
    cursor: pointer;
    overflow: hidden;
}

.item .polychain {
    width: 200px;
}

.item:hover {
    transition-delay: 0ms !important;
    transform: translate3d(0, -16px, 0);
}

@media (max-width: 740px) {
    .title {
        margin-top: 0;
        font-size: 24px;
        line-height: 29px;
    }

    .list {
        margin-top: 24px;
        margin-left: -19px;
    }

    .item {
        margin-left: 19px;
        flex: 0 0 calc(50% - 20px);
        height: 97px;
    }

    .item img {
        width: 95px;
        height: 95px;
        object-fit: contain;
    }
}