.title {
    margin-top: 90px;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    font-weight: 600;
    color: #333333;
}

.list {
    margin: 70px 0 0 -24px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 30px;
    width: calc(14.28% - 30px);
    height: 80px;
    transition: transform 200ms ease;
    cursor: pointer;
    overflow: hidden;
}

@media (max-width: 740px) {
    .title {
        margin-top: 0;
        font-size: 24px;
        line-height: 29px;
    }

    .list {
        margin-top: 24px;
        margin-left: -19px;
    }

    .item {
        margin-left: 20px;
        height: 80px;
        width: calc(50% - 20px)
    }

    .item img {
        width: 95px;
        height: 95px;
        max-height: 70%;
        max-width: 80%;
        object-fit: contain;
    }
}