.root {
    padding: 90px 0;
    background: #f7fbff;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}

.members {
    /* for display shadow */
    margin-left: -30px;
    padding: 0 30px;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    transition: transform 200ms ease-in-out;
}

.memberItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 16px 40px 0;
    padding: 64px 24px 16px 24px;
    box-sizing: border-box;
    flex: 0 0 250px;
    height: 340px;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(65, 32, 255, 0.11);
    text-align: center;
}

.memberItem:last-child {
    margin-right: 0;
}

.memberPhoto {
    width: 108px;
    height: 108px;
}

.memberName {
    margin-top: 43px;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    font-weight: 400;
}

.memberTitle {
    flex: 1;
    margin-top: 14px;
    font-size: 18px;
    line-height: 21px;
    color: #91939b;
    white-space: nowrap;
}

.memberCompany {
    object-fit: contain;
}

.memberCompany.laminar {
    margin-bottom: 4px;
}

.control {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.controlBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    width: 116px;
    height: 54px;
    border-radius: 27px;
    border: 1px solid #ecf0f2;
    cursor: pointer;
    background: #ffffff;
}

.prevBtn {
    transform: rotateY(180deg);
}

.controlBtn:hover {
    border: 1px solid #0155ff;
}

.controlBtn:hover line, .controlBtn:hover polyline {
    stroke: #0155ff;
}

.controlDisabled {
    cursor: not-allowed;
    border: 1px solid #ecf0f2 !important;
}

.controlDisabled line, .controlDisabled polyline {
    stroke: #98a5ae !important;
}


.controlBtn:last-child {
    margin-right: 0;
}

@media (max-width: 740px) {
    .root {
        padding: 0;
        background: #ffffff;
    }

    .title {
        font-size: 24px;
        line-height: 29px;
    }

    .content {
        overflow-x: auto;
    }

    .memberItem {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .control {
        display: none;
    }
}