.container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 153px 78px 53px 40px;
}

.background {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50vw + 600px);
    height: 970px;
    background: url('../assets/whitepaper-background.svg') no-repeat, #4C00FF;
}

.logo {
    width: 120px;
    height: 120px;
}

.title {
    margin-top: 82px;
    width: 330px;
    line-height: 72px;
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}

.detail {
    margin-top: 24px;
    width: 405px;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}

.documentList {
    box-sizing: border-box;
    flex: 0 0 718px;
    padding: 48px 80px;
    background: #ffffff;
    box-shadow: 0 20px 72px rgba(1, 50, 204, 0.15);
}

.documentItem {
    position: relative;
}

.documentTitle {
    margin-top: 24px;
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
}

.documentDetail {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
}

.documentLink {
    position: absolute;
    right: -58px;
    top: 77px;
    max-width: 42px;
    min-width: 42px;
    padding: 0;
    margin: 0;
    height: 42px;
}

.divider {
    margin: 40px 20px 48px -40px;
    height: 1px;
    background: #ecf0f2;
}

@media (max-width: 740px) {
    .container {
        padding: 0;
        flex-direction: column;
    }

    .background {
        z-index: 1;
        margin: 0 -20px;
        height: 215px;
        background-size: 100% auto;
    }

    .summary {
        z-index: 2;
        margin-top: 30px;
        display: flex;
    }

    .icon {
        margin-left: 49px;
        width: 24px;
        height: 24px;
    }

    .title {
        margin-left: 12px;
        margin: 0;
        font-size: 24px;
        line-height: 24.6px;
    }

    .detail {
        display: none;
    }

    .documentList {
        z-index: 2;
        width: 100%;
        margin-top: 32px;
        margin-left: 0;
        padding: 24px;
    }

    .documentLink {
        top: 70px;
        right: 0;
    }
}